if SHIELD_ELEXX_SPLIT64_V1_LEFT

config ZMK_KEYBOARD_NAME
    default "Elexx Split64"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_ELEXX_SPLIT64_V1_LEFT

if SHIELD_ELEXX_SPLIT64_V1_LEFT || SHIELD_ELEXX_SPLIT64_V1_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_ELEXX_SPLIT64_V1_LEFT || SHIELD_ELEXX_SPLIT64_V1_RIGHT
